# Convert I94_SAS_Labels_Descriptions.SAS

In [1]:
import re
import pandas as pd

In [2]:
VALUE_RE = re.compile(r"^\s*('(?P<s_value>.*)'|(?P<n_value>\d*))\s*=\s*'(?P<description>.*)'.*$")

In [3]:
i94cntyl_rows = []
i94prtl_rows = []
i94addrl_rows = []

In [4]:
with open("./I94_SAS_Labels_Descriptions.SAS", "r") as f:
    for line in f:
        if re.search("value i94cntyl", line):
            lines = i94cntyl_rows
        elif re.search("value \$i94prtl", line):
            lines = i94prtl_rows
        elif re.search("value i94addrl", line):
            lines = i94addrl_rows
        elif ";" in line:
            lines = None
        else:
            match = VALUE_RE.match(line)
            if match is not None and lines is not None:
                lines.append({
                    'value': int(match.group("n_value").strip()) if match.group("n_value") is not None else match.group("s_value").strip(),
                    'description': match.group("description").strip()
                })

In [5]:
i94cntyl_df = pd.DataFrame(i94cntyl_rows, columns=("value", "description"))

In [6]:
i94cntyl_df.head()

   value                                        description
0    582  MEXICO Air Sea, and Not Reported (I-94, no lan...
1    236                                        AFGHANISTAN
2    101                                            ALBANIA
3    316                                            ALGERIA
4    102                                            ANDORRA

In [7]:
i94cntyl_df.to_csv('i94cntyl.csv', index=False)

In [8]:
i94prtl_df = pd.DataFrame(i94prtl_rows, columns=("value", "description"))
i94prtl_df[["port", "state"]] = i94prtl_df["description"].str.split(',', 1, expand=True)
i94prtl_df.drop('description', axis=1, inplace=True)

In [9]:
i94prtl_df.head()

  value                      port state
0   ALC                     ALCAN    AK
1   ANC                 ANCHORAGE    AK
2   BAR  BAKER AAF - BAKER ISLAND    AK
3   DAC             DALTONS CACHE    AK
4   PIZ    DEW STATION PT LAY DEW    AK

In [10]:
i94prtl_df.to_csv('i94prtl.csv', index=False)

In [11]:
i94addrl_df = pd.DataFrame(i94addrl_rows, columns=("value", "description"))

In [12]:
i94addrl_df.head()

  value description
0    AL     ALABAMA
1    AK      ALASKA
2    AZ     ARIZONA
3    AR    ARKANSAS
4    CA  CALIFORNIA

In [13]:
i94addrl_df.to_csv('i94addrl.csv', index=False)